/**
 * Buttons
 **/

.join-us {
  color: white;
  text-align: left;
  &:hover { background: $primary-color; }

  h3 { color: white; }
  p { margin: 0; }
  a { color: white; }
}
.join-us-140 {
  height: 140px;
}

// Used on Contact page
.join-us--inline {
  @extend .join-us;
}

// Used on Team page
.join-us--block {
  @extend .join-us;
  width: 100%;
  height: 140px;
  margin-bottom: 0;
  // Add bottom gutter on small screens
  @media #{$small-only} {
    margin-bottom: 20px;
  }

  h3 {
    padding-top: 20px;
  }
}
