// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}




.footer__sub-page {
  color: #333;
  font-size: 14px;

	@media #{$medium-down} { text-align: center; }
}


.good-thinking {
	text-align: right;
	color: $primary-color;

	@media #{$medium-down} {
		text-align: center;
		color: $primary-color
	}
}
