/**
 * Form styels
 * Used by contact overlay
 **/

.logo--join-us-form {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.ninja-forms-form-wrap {
  h2 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .button {
    background-color: #40b8b5; // Teal
    padding-left: 60px;
    padding-right: 60px;
    font-size: 25px;
    color: black;
  }

  input,
  textarea {
    background: #ccc;
    border: 0;
    font-family: "Helvetica", "Roboto", sans-serif;
    font-size: 16px;
  }

  .ninja-forms-field:focus { background-color: #eee; }

}

// Labels
label {
  font-size: 25px;
  font-weight: 400 !important; // Override bold from Ninja form plugin
  color: #333;
  text-transform: uppercase;
}

// Highlight label (References)
.gform_wrapper h2 {
  font-size: 28px;
  font-weight: 400;
  color: $primary-color;
  text-transform: uppercase;
}

// Color of requirement symbol *
.gfield_required {
  color: $primary-color !important;
}

// Remove left padding on spam filter field
.field-wrap.label-left .ninja-forms-field {
  margin-left: 0 !important;
}

// Add some more padding to Gravity Forms textarea
.gform_wrapper textarea,
.gform_wrapper input {
  padding: 10px !important;
}
