header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: auto;
}

// Top navigation bar for home page.
header.header--home {
  position: relative;

  #menu-button {
    color: white;
  }
}

// Top navigation bar for sub-pages.
header.header--site {

  background-color: rgba(white, 0.9);

  h1 {
    background-image: url("../assets/img/logo.png");
    background-repeat: no-repeat;
    padding-left: 70px;

    a { color: $secondary-color; }
  }

  #menu-button {
    color: black;
  }
}


// Logo on home page
img.logo--home {
  position: relative;
  height: 50px;
  line-height: 50px;
  z-index: 999999;
}


h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

// Sub-header with description on archive pages, underneath page title
p.sub-h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
