/**
 * Full screen modal
 **/

$menu-small: "(max-height: 490px)";
$menu-medium: "(max-height: 760px)";



// If admin-bar is present, push modal overlay down
body.admin-bar {
  .reveal-modal {
    top: 20px;
  }
}








#menu_overlay,
div[id^="modal_window-"] {
  padding-top: 110px;
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(142,142,142,0.95);
  border: 10px solid white;
  color: white;
  @media #{$menu-small} { padding-top: 80px; }

  #menu_exit {
    cursor: pointer;
  }
  div[id^="modal_exit-"] {
    position: fixed;
    cursor: pointer;
  }
}

div[id^="modal_window-"] {
  overflow-y: auto;

  h1 {
    color: white;
    line-height: 1;
    padding-bottom: 20px;
  }

  h2 {
    color: #414042;
    font-weight: 400;
  }

  .form__inner {
    min-height: 100%;
  }

  // Add left padding to everything in the modal window
  .past-projects_content {
    padding-left: 40px;
  }
}

.overlay-menu__items {
  margin: 0;
  @media #{$menu-medium} {
    padding-top: 30px;
  }
}

.menu-item {
  list-style-type: none;
  padding-bottom: 50px;
  /* font */
  font-size: 40px;
  font-weight: 200;
  line-height: 1;
  text-transform: uppercase;

  @media #{$menu-medium} {
    padding-bottom: 20px;
    font-size: 24px;
  }
  @media #{$menu-small} {
    padding-bottom: 15px;
    font-size: 20px;
  }

  a {
    color: white;
    transition: color 300ms ease-in-out;
    &:hover { color: #414042; }
  }
}


.current-menu-item a {
  color: #414042;
}


.menu-link {
  text-align: right;
}

.menu-footer {
  border-top: 1px solid #d9d9d9;
  padding-top: 50px;
  color: white;
  font-size: 14px;
  @media #{$menu-medium} {
    padding-top: 20px;
  }
  @media #{$medium-down} {
    text-align: center;
  }
  .good-thinking {
    color: #333;
  }
}
