



/**
 * Filter Navigation
 *
 * Used on Our Work page to filter project types.
 **/

.nav--filter {
  margin: 0;
  margin-bottom: 50px;

  li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    &:after {
      content: '/';
      padding-left: 10px;
    }
    &:last-child:after {
      content: '';
    }
    a {
      color: #333;
      transition: color 200ms;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
