/**
 * Home Page
 *
 * These are the styles for the "featured portfolio items" loop on the homepage.
 *
 **/

a {
  text-decoration: none;
}

/**
To display .featured-portfolio__wrapper. This might interrupt it's behavior later on though. Keep an eye on it!
**/
.off-canvas-wrap {
  overflow: visible;
}


// This forces the stack of portfolio items to go right to the top.
.featured-portfolio__wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}


.item__title-link {
  // vertical center align
  padding-top: 25vh;

  h1 {
    color: #454545;
    font-size: 60px;
    font-weight: 200;
    @media #{$small-only} {
      font-size: 50px;
    }
  }

  .button {
    margin-top: 8px;
    border-radius: 4px;
    background-color: #66686a;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    &:hover { background-color: #595c5f; }
  }
}





/**
 * Portfolio Archive Page
 *
 **/

.portfolio-item {
  margin-bottom: 20px;
  height: 480px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  @media #{$small-only} { height: 320px; }
}

.item__title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  h3 {
    margin: 0;
    font-size: 25px;
    color: #666;
  }
  p {
    margin: 0;
    font-size: 15px;
    color: #666;
  }
}





/**
 * Portfolio Single
 **/

.portfolio-content {
  margin-bottom: 20px;
}


// Style for content list on single work page "item / item / item etc"
.work__content-list {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 0;

  li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    &:after {
      content: '/';
      padding-left: 10px;
    }
    &:last-child:after {
      content: '';
    }
  }
}


// Add bottom white-space to block grid.
[class*="block-grid-"]>li {
  margin-bottom: 60px;
}
