.services {
  padding-bottom: 50px;

  .services__photo {
    height: 300px;
    background-size: cover;
    background-position: center center;
  }

  .services__copy {

    h3 {
      @media #{$small-only} {
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }

    p {
      color: #555;
      line-height: 2;
    }
  }
}
