/**
 * For Shame!
 *
 * Clean this up when there's free time.
 **/




// Orange highlight, used on "Good Thinking" in menu footer
.highlight { color: $primary-color; }


// Team Page styles
.black-and-white {
  height: 360px;
  background-image: url(../assets/img/team/black-and-white.jpg);
  background-size: cover;
}

.team-gray-box {
  height: 140px;
  background-image: url(../assets/img/team/team-gray-box.jpg);
  background-size: cover;
  background-position: center center;
}
// vertical image with staff in background and focused on "scroll" at bottom
.team-photo-2 {
  margin-top: 20px;
  height: 540px;
  background-image: url(../assets/img/team/team-photo-2.jpg);
  background-size: cover;
  background-position: center bottom;
}
// black and white photo of two team members
.team-photo-3 {
  margin-top: 20px;
  height: 360px;
  background-image: url(../assets/img/team/team-photo-3.jpg);
  background-size: cover;
  background-position: center center;
}
// orange blending mode
.team-photo-4 {
  margin-top: 20px;
  height: 360px;
  background-image: url(../assets/img/team/team-photo-4.jpg);
  background-size: cover;
  background-position: center center;
}



// Contact Page Styling

.contact-map {
  height: 640px;
  background-image: url(../assets/img/contact-map.jpg);
  background-position: center center;
  background-size: cover;
}

.phone-and-email {
  margin-top: 60px;
  margin-bottom: 60px;
}

.offices {
  margin-bottom: 60px;
}




// Style for <body class="home">
body.home {
  background-size: cover;
  background-position: center center;
  position: relative;
}





// Sticky Footer
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}





// Old-school, basic link style. Orange with underline.
.basic-link,
a .basic-link {
  color: $primary-color;
  text-decoration: underline;
}





// Single Post Pagination
// Prev / Next buttons for single portfolio posts.
.single-post-pagination--off {
  display: none;
  a {
    color: #555553;
    transition: color 300ms ease-in-out;
    &:hover { color: $primary-color; }
  }
}

.single-post-pagination--on {
  display: inherit;
  a {
    color: #555553;
    transition: color 300ms ease-in-out;
    &:hover { color: $primary-color; }
  }
}
