/**
 * Team Archive Page
 *
 **/

.row.row.team-members-row {
  margin-bottom: 20px;
}

.team-member {
  margin-bottom: 20px;
  height: 360px;
  margin: 0 auto;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  // Add bottom gutter on small screens
  @media #{$small-only} {
    margin-bottom: 20px;
  }

  .member__details {
    display: none;
    height: 320px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(white, 0.9);
    text-align: center;
    h3 {
      margin-top: 20px;
      font-size: 20px;
      color: #777;
    }
  }
}
